Source: nesto-usbproxy
Section: net
Priority: optional
Maintainer: Martin Loeper <martin.loeper@nesto-software.de>
Standards-Version: 2014-07-R1-git
Build-Depends: libusb-1.0-0-dev, cmake
Vcs-Git: https://github.com/nesto-software/USBProxy-legacy.git
Vcs-Browser: https://github.com/nesto-software/USBProxy-legacy
Homepage: https://github.com/nesto-software/USBProxy-legacy

Package: nesto-usbproxy
Architecture: armhf
Depends: libusb-1.0-0, libudev1
Description: Enhanced USBProxy utility
