#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
override_dh_auto_install:
	mkdir -p debian/tmp
	cp -r $(ROOT_FS)/usr debian/tmp/
	
override_dh_auto_configure:

# because we skiip this step, we must figure out our shared library dependencies manually and write them into control file
override_dh_shlibdeps:
	@echo "Skipping dh_shlibdeps because of cross-compilation"
